[submodule "PHP_CodeSniffer"]
    branch = 2.9
    path = PHP_CodeSniffer
    url = git@github.com:squizlabs/PHP_CodeSniffer.git
[submodule "bundle/ctrlp"]
    branch = master
    path = bundle/ctrlp
    url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/delimitmate"]
    branch = master
    path = bundle/delimitmate
    url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/gundo"]
    branch = master
    path = bundle/gundo
    url = https://github.com/sjl/gundo.vim
[submodule "bundle/mwutils"]
    branch = master
    path = bundle/mwutils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/nerdtree"]
    branch = master
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/phpcomplete.vim"]
    branch = master
    path = bundle/phpcomplete.vim
    url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/supertab"]
    branch = master
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
    branch = master
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
    branch = master
    path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/tagbar-phpctags"]
    branch = master
    path = bundle/tagbar-phpctags
    url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "bundle/tlib"]
    branch = master
    path = bundle/tlib
    url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vawa"]
    branch = master
    path = bundle/vawa
    url = https://github.com/vim-scripts/vawa.vim
[submodule "bundle/vdebug"]
    branch = master
    path = bundle/vdebug
    url = https://github.com/joonty/vdebug.git
[submodule "bundle/vim-fugitive"]
    branch = master
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-snipmate"]
    branch = master
    path = bundle/vim-snipmate
    url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
    branch = master
    path = bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
[submodule "codechecker"]
    branch = master
    path = codechecker
    url = https://github.com/moodlehq/moodle-local_codechecker
